conf
ebtree*
core
core.*
**.o
**.in
**.in~
.deps
**.sw[op]
/src/hitch-*
Makefile
/stamp-h1
/aclocal.m4
/compile
/missing
/config.log
/config.status
/config.h
/configure
/depcomp
/install-sh
/autom4te.cache
